[submodule "benchmarks/1mrc/official"]
	path = benchmarks/1mrc/official
	url = https://github.com/Kavishankarks/1mrc.git
[submodule "external/coroio"]
	path = external/coroio
	url = https://github.com/resetius/coroio
[submodule "external/drogon"]
	path = external/drogon
	url = https://github.com/drogonframework/drogon
[submodule "external/nghttp2"]
	path = external/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
